<div class="container mx-auto">
  <form [formGroup]="form">
    <mat-form-field class="my-4 w-full">
      <mat-label name="search">Search for color</mat-label>
      <input matInput formControlName="search" for="search" type="search" (change)="inputChanged()"/>
    </mat-form-field>
    
    <brew-color-grid-select formControlName="color" />

    <div class="flex justify-end">
      <button mat-raised-button type="submit">Submit</button>
    </div>
  </form>

  <div class="py-2">
    <code class="block whitespace-pre overflow-x-scroll">{{
      form.value | json
    }}</code>
  </div>
</div>
